.buttons {
  width: 40vw;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.button {
  border: 5px solid rgb(39, 192, 50);
  border-radius: 1em;
  height: 4em;
  width: 9em;
  background-color: #000000;
  color: rgb(39, 192, 50);
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
