.buttons {
  width: 40vw;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.button {
  border: 5px solid rgb(39, 192, 50);
  border-radius: 1em;
  height: 4em;
  width: 9em;
  background-color: #000000;
  color: rgb(39, 192, 50);
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 814px) and (-webkit-min-device-pixel-ratio: 3) {
  .buttons {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}

/* iphone 6 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .buttons {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
